.landing-container {
    padding: 0
}

.header-container {
    align-items: center;
    margin: 0 0;
    padding: 0 5px;
}

.logo-img {
    height: 100px;
    width: 100px;
}

.app-title {
    font-size: 2em;
}

@media screen and (max-width: 426px) {
    .app-title {
        font-size: 1em;
    }
}


.sign-in-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0;
    padding: 0 0;
}

img {
    height: auto;
    width: 100%;
}